/* Sets Margin & Padding to Zero */
*{
    margin:0;
    padding: 0;
}

/*Body Styling, color etc*/

body{
    /*background-image: url(../images/smoke-1018176_1920.jpg);*/
    margin: 0px;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}

/*Hides scrollbar but still allows scrolling*/

::-webkit-scrollbar { 
    display: none; 
}

/*Carousel CSS*/
.carousel-item {
    height: 33vh;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/*Happenin' Title*/
#titleText{
    padding-top:50px;
    font-family: 'Shrikhand', cursive;
    color: #FF0AC2
      
}

#ticket {
    color: white;
    background-color: rgb(21, 219, 21);
}



/* Results Div*/
#results{
    overflow: auto;
    height: 382px;
}

/* styling the direction result */
#direction-result {
    overflow: auto;
    height: 139px;
}

/*Card Color*/
#cardColor{
    background:#e7d2ac;
    height:  439px;
}
  /*Footer*/
footer{
    height:30px;
    background: #e7d2ac;
    position: fixed;
    bottom: 0;
    width:100%;
}

/* styling our buttons */
.btn {
    padding: 5px 5px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    width: 120px;
    height: 40px;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
  /* button hover */
  .btn:hover {background-color: #3e8e41}
  
  /* btn active */
  .btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /* styling the color of the button's link in our event result */
  a {
      color:white;
  }




/* animate for the title HAPPENIN' */
  .display-1 {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }

  /* putting underline on the result's address */
.address {
    text-decoration: underline;
}

/* address hovers */
.address:hover {
    color: blue;
    cursor: pointer;
}

