/* Sets Margin & Padding to Zero */
*{
    margin:0;
    padding: 0;
}

/*Body Styling, color etc*/

body{
    /*background-image: url(../images/smoke-1018176_1920.jpg);*/
    margin: 0px;
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}

/*Hides scrollbar but still allows scrolling*/

::-webkit-scrollbar { 
    display: none; 
}

/*Carousel CSS*/
.carousel-item {
    height: 33vh;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/*Happenin' Title*/
#titleText{
    padding-top:50px;
    font-family: 'Shrikhand', cursive;
    color: #FF0AC2
}

/*Card Color*/
#cardColor{
    background:#e7d2ac;
}
  /*Footer*/
footer{
    height:30px;
    background: #e7d2ac;
    margin-top: 30px;
    width:100%;
}